<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/output.css}" />
    <title>Dashboard</title>
    <style>
      input[type="radio"]:checked ~ label {
        transform: scale(1.05);
        color: #f59e0b;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <header
      class="container px-6 min-w-full pt-4 text-center h-40 md:h-32 bg-gradient-to-r from-cyan-100 to-blue-100"
    >
      <div
        class="h-20 flex justify-center items-center w-20 mx-auto md:mx-0 md:mt-0 md:absolute top-5 left-10"
      >
        <img src="/images/todo-icon.png" alt="Task Icon" />
        <p
          class="md:absolute top-5 left-24 ml-2 font-bold text-blue-500 text-4xl"
        >
          ToDoApp
        </p>
      </div>
      <div
        class="flex items-center justify-center text-blue-500 font-semibold mt-4 space-x-4 md:space-x-10 md:absolute top-12 right-10 md:mt-0"
      >
        <a href="#account" class="hover:text-cyan-500 duration-200">
          Manage Account
        </a>
        <a href="#tasks" class="hover:text-cyan-500 duration-200"> Tasks </a>
        <a href="#rating" class="hover:text-cyan-500 duration-200"> Rate us </a>
        <!-- Log out button -->
        <a
          href="/logout"
          class="px-4 py-2 rounded-full bg-cyan-500 text-white border-2 hover:border-cyan-500 hover:bg-white hover:text-cyan-500 duration-200"
          >Logout</a
        >
      </div>
    </header>
    <div class="pt-4">
      <div class="flex flex-col justify-center md:flex-row">
        <!-- Dashboard Card -->
        <div
          id="dashboard"
          class="flex flex-col m-4 space-y-10 md:w-1/3 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0"
        >
          <!-- Left Side -->
          <div class="p-6 md:p-20">
            <!-- Title -->
            <h2 class="mb-5 text-4xl font-semibold">Dashboard</h2>
            <div
              class="flex flex-col max-w-sm font-sans font-light text-gray-600"
            >
              <div class="flex">
                Welcome!
                <p
                  class="mx-2 text-cyan-500 font-semibold"
                  th:text="${user.name}"
                ></p>
                You are now logged in.
              </div>
              <div class="flex">
                <p>This is your dashboard where you can check your todos</p>
              </div>
              <div class="flex mt-6">
                <p class="">You have</p>
                <p
                  class="mx-2 text-cyan-500 font-semibold"
                  th:text="${todos.size()}"
                ></p>
                tasks to complete.
              </div>
            </div>
          </div>
        </div>
        <!-- Add New Task Card -->
        <div
          class="flex flex-col m-4 space-y-10 md:w-1/3 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0"
        >
          <!-- Left Side -->
          <div class="w-full p-6 md:p-20">
            <!-- Title -->
            <h2 class="mb-5 text-4xl font-semibold">Add New Task</h2>
            <form
              th:action="@{/addTodo}"
              method="post"
              class="flex flex-col space-y-4"
            >
              <input
                type="text"
                name="description"
                placeholder="Task Description"
                class="p-2 border-2 border-gray-300 rounded-md"
              />
              <input
                type="date"
                name="date"
                class="p-2 border-2 border-gray-300 rounded-md"
              />
              <input
                type="hidden"
                name="username"
                th:value="${user.username}"
                class="p-2 border-2 border-gray-300 rounded-md"
              />
              <button
                type="submit"
                class="px-4 py-2 bg-cyan-500 text-white rounded-md border-2 hover:border-cyan-500 hover:bg-white hover:text-cyan-500 duration-200"
              >
                Add Task
              </button>
            </form>
            <!-- Error Pop Up -->
            <div th:if="${error}" class="fixed z-10 inset-0 overflow-y-auto">
              <div
                class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
              >
                <div
                  class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                  aria-hidden="true"
                ></div>
                <!-- This element is to trick the browser into centering the modal contents. -->
                <span
                  class="hidden sm:inline-block sm:align-middle sm:h-screen"
                  aria-hidden="true"
                  >&#8203;</span
                >
                <div
                  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                >
                  <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                      <div
                        class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
                      >
                        <!-- X -->
                        <svg
                          class="h-6 w-6 text-red-600"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18 18 6M6 6l12 12"
                          />
                        </svg>
                      </div>
                      <div
                        class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left"
                      >
                        <h3
                          class="text-lg leading-6 font-medium text-gray-900"
                          id="modal-title"
                        >
                          Error
                        </h3>
                        <div class="mt-2">
                          <p
                            class="text-sm text-gray-500"
                            th:text="${error}"
                          ></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
                  >
                    <button
                      type="button"
                      class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                      onClick="document.querySelector('.fixed').classList.add('hidden')"
                    >
                      OK
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tasks Card -->
      <div id="tasks" class="mt-12 md:mt-24 mb-12 md:mb-24 md:mx-10">
        <div class="shadow-lg bg-white md:rounded-lg w-full">
          <!-- Tasks -->
          <h1
            class="text-center font-semibold p-4 bg-slate-200 text-4xl md:text-5xl"
          >
            Your Todos
          </h1>
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 table-auto"
          >
            <thead
              class="text-xs text-center text-gray-700 uppercase bg-gray-50"
            >
              <tr class="">
                <th class="px-6 py-3">#</th>
                <th class="px-6 py-3">Description</th>
                <th class="px-6 py-3">Date</th>
                <th class="px-6 py-3"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-b text-center hover:bg-gray-50"
                th:each="todo : ${todos}"
              >
                <td class="px-6 py-4" th:text="${todo.id}"></td>
                <td class="px-6 py-4" th:text="${todo.description}"></td>
                <td class="px-6 py-4" th:text="${todo.date}"></td>
                <td class="px-6 py-4">
                  <form th:action="@{/deleteTodo}" method="post">
                    <input type="hidden" th:value="${todo.id}" name="id" />
                    <input
                      type="hidden"
                      th:value="${user.username}"
                      name="username"
                    />
                    <button
                      type="submit"
                      class="px-4 py-2 bg-red-500 text-white rounded-md border-2 hover:border-red-500 hover:bg-white hover:text-red-500 duration-200"
                    >
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Manage Account and Input -->
      <div
        id="account"
        class="flex flex-col md:flex-row mt-12 md:justify-center"
      >
        <div
          class="flex flex-col m-4 space-y-10 md:w-2/3 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0"
        >
          <!-- Left Side -->
          <div class="w-full p-6 md:p-20">
            <!-- Title -->
            <h2 class="mb-5 text-4xl font-semibold">Manage Account</h2>
            <span class="text-xs italic text-gray-400"
              >*If you leave a field empty, it will get the default value</span
            >
            <form
              action="/updateUser"
              method="post"
              class="flex flex-col space-y-4"
            >
              <input type="hidden" name="defaultName" th:value="${user.name}" />
              <input
                type="hidden"
                name="defaultEmail"
                th:value="${user.email}"
              />
              <input
                type="hidden"
                name="defaultUsername"
                th:value="${user.username}"
              />
              <input
                type="hidden"
                name="defaultPassword"
                th:value="${user.password}"
              />
              <input
                type="text"
                name="name"
                placeholder="Name"
                class="p-2 border-2 border-gray-300 rounded-md"
              />
              <input
                type="email"
                name="email"
                placeholder="Email"
                class="p-2 border-2 border-gray-300 rounded-md"
              />
              <input
                type="username"
                name="username"
                placeholder="Username"
                class="p-2 border-2 border-gray-300 rounded-md"
              />
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
                class="p-2 border-2 border-gray-300 rounded-md"
              />

              <button
                type="submit"
                class="px-4 py-2 bg-cyan-500 text-white rounded-md border-2 hover:border-cyan-500 hover:bg-white hover:text-cyan-500 duration-200"
              >
                Update Account
              </button>
            </form>
          </div>
          <!-- Right Side -->
          <div class="w-full p-6 md:p-20">
            <!-- Title -->
            <h2 class="mb-5 text-4xl font-semibold">Current Account</h2>
            <div
              class="flex flex-col max-w-sm font-sans font-light text-gray-600"
            >
              <div class="flex">
                <p>Name:</p>
                <p
                  class="mx-2 text-cyan-500 font-semibold"
                  th:text="${user.name}"
                ></p>
              </div>
              <div class="flex">
                <p>Email:</p>
                <p
                  class="mx-2 text-cyan-500 font-semibold"
                  th:text="${user.email}"
                ></p>
              </div>
              <div class="flex">
                <p>Username:</p>
                <p
                  class="mx-2 text-cyan-500 font-semibold"
                  th:text="${user.username}"
                ></p>
              </div>
              <!-- Delete & Change Password Buttons -->
              <div class="flex justify-between mt-6">
                <form th:action="@{/deleteAccountDialog}" method="post">
                  <input
                    type="hidden"
                    name="username"
                    th:value="${user.username}"
                  />
                  <button
                    class="px-4 py-2 bg-red-500 text-white rounded-md border-2 hover:border-red-500 hover:bg-white hover:text-red-500 duration-200"
                    type="submit"
                  >
                    Delete Account
                  </button>
                </form>
                <!-- Warning Pop Up -->
                <form
                  th:if="${warning}"
                  action="/deleteAccount"
                  class="fixed z-10 inset-0 overflow-y-auto"
                  method="post"
                >
                  <input
                    type="hidden"
                    name="username"
                    th:value="${user.username}"
                  />
                  <div
                    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
                  >
                    <div
                      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                      aria-hidden="true"
                    ></div>
                    <!-- This element is to trick the browser into centering the modal contents. -->
                    <span
                      class="hidden sm:inline-block sm:align-middle sm:h-screen"
                      aria-hidden="true"
                      >&#8203;</span
                    >
                    <div
                      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                    >
                      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                          <div
                            class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
                          >
                            <!-- ! -->
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="h-6 w-6 text-red-600"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
                              />
                            </svg>
                          </div>
                          <div
                            class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left"
                          >
                            <h3
                              class="text-lg leading-6 font-medium text-gray-900"
                              id="modal-title"
                            >
                              Warning
                            </h3>
                            <div class="mt-2">
                              <p
                                class="text-sm text-gray-500"
                                th:text="${warning}"
                              ></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
                      >
                        <button
                          type="submit"
                          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                          onClick="document.querySelector('.fixed').classList.add('hidden')"
                        >
                          OK
                        </button>
                        <button
                          type="button"
                          onclick="document.querySelector('.fixed').classList.add('hidden')"
                          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <form action="/changePasswordDialog" method="post">
                  <input
                    type="hidden"
                    name="username"
                    th:value="${user.username}"
                  />
                  <button
                    type="submit"
                    class="px-4 py-2 bg-cyan-500 text-white rounded-md border-2 hover:border-cyan-500 hover:bg-white hover:text-cyan-500 duration-200"
                  >
                    Change Password
                  </button>
                </form>
                <!-- Change Password Pop Up -->
                <form
                  th:if="${info}"
                  action="/changePassword"
                  class="fixed z-10 inset-0 overflow-y-auto"
                  method="post"
                >
                  <input
                    type="hidden"
                    name="username"
                    th:value="${user.username}"
                  />
                  <input
                    type="hidden"
                    name="defaultPassword"
                    th:value="${user.password}"
                  />
                  <div
                    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
                  >
                    <div
                      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                      aria-hidden="true"
                    ></div>
                    <!-- This element is to trick the browser into centering the modal contents. -->
                    <span
                      class="hidden sm:inline-block sm:align-middle sm:h-screen"
                      aria-hidden="true"
                      >&#8203;</span
                    >
                    <div
                      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                    >
                      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                          <div
                            class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
                          >
                            <!-- ! -->
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="h-6 w-6 text-red-600"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
                              />
                            </svg>
                          </div>
                          <div
                            class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left"
                          >
                            <h3
                              class="text-lg leading-6 font-medium text-gray-900"
                              id="modal-title"
                            >
                              Information
                            </h3>
                            <div class="space-y-2 flex flex-col w-full">
                              <p
                                class="text-sm text-gray-500"
                                th:text="${info}"
                              ></p>
                              <input
                                type="password"
                                name="password"
                                placeholder="New Password"
                                required
                                class="p-2 border-2 border-gray-300 rounded-md"
                              />
                              <input
                                type="password"
                                name="confirmPassword"
                                placeholder="Confirm Password"
                                required
                                class="p-2 border-2 border-gray-300 rounded-md"
                              />
                              <input
                                type="passowrd"
                                name="oldPassword"
                                placeholder="Old Password"
                                required
                                class="p-2 border-2 border-gray-300 rounded-md"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse space-y-3 sm:space-y-0"
                      >
                        <button
                          type="submit"
                          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                          onClick="document.querySelector('.fixed').classList.add('hidden')"
                        >
                          OK
                        </button>
                        <button
                          type="button"
                          onclick="document.querySelector('.fixed').classList.add('hidden')"
                          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Rate Us Section -->
    <div id="rating" class="md:mx-32 px-6 mt-12 md:mt-24">
      <h3 class="mb-8 text-4xl text-center font-bold md:text-5xl">
        Give Us a Rating
      </h3>
      <div
        class="flex flex-col justify-center bg-white shadow-xl rounded-lg md:flex-row"
      >
        <form
          id="starRating"
          th:action="@{/rateExperience}"
          method="post"
          class="flex flex-col-reverse p-10 w-full md:flex-row"
        >
          <input
            type="text"
            name="username"
            th:value="${user.username}"
            class="hidden"
          />
          <div class="flex flex-col md:w-1/3">
            <p class="mx-auto mb-10 text-xl text-center text-gray-400">
              From 1 to 5 stars, <br />
              how would you rate this app?
            </p>
            <div class="space-y-2 mr-3">
              <div class="flex justify-center md:justify-start space-x-4">
                <input
                  type="radio"
                  id="5-stars"
                  name="rating"
                  value="5"
                  class="hidden"
                  checked
                />
                <label
                  for="5-stars"
                  class="flex cursor-pointer hover:text-yellow-500 hover:scale-105 duration-200"
                >
                  <span th:each="i : ${#numbers.sequence(1, 5)}">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="30"
                      height="30"
                      fill="yellow"
                    >
                      <path
                        d="M13.7276 3.44418L15.4874 6.99288C15.7274 7.48687 16.3673 7.9607 16.9073 8.05143L20.0969 8.58575C22.1367 8.92853 22.6167 10.4206 21.1468 11.8925L18.6671 14.3927C18.2471 14.8161 18.0172 15.6327 18.1471 16.2175L18.8571 19.3125C19.417 21.7623 18.1271 22.71 15.9774 21.4296L12.9877 19.6452C12.4478 19.3226 11.5579 19.3226 11.0079 19.6452L8.01827 21.4296C5.8785 22.71 4.57865 21.7522 5.13859 19.3125L5.84851 16.2175C5.97849 15.6327 5.74852 14.8161 5.32856 14.3927L2.84884 11.8925C1.389 10.4206 1.85895 8.92853 3.89872 8.58575L7.08837 8.05143C7.61831 7.9607 8.25824 7.48687 8.49821 6.99288L10.258 3.44418C11.2179 1.51861 12.7777 1.51861 13.7276 3.44418Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </label>
              </div>
              <div class="flex justify-center md:justify-start space-x-4">
                <input
                  type="radio"
                  id="4-stars"
                  name="rating"
                  value="4"
                  class="hidden"
                />
                <label
                  for="4-stars"
                  class="flex cursor-pointer hover:text-yellow-500 hover:scale-105 duration-200"
                >
                  <span th:each="i : ${#numbers.sequence(1, 4)}">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="30"
                      height="30"
                      fill="yellow"
                    >
                      <path
                        d="M13.7276 3.44418L15.4874 6.99288C15.7274 7.48687 16.3673 7.9607 16.9073 8.05143L20.0969 8.58575C22.1367 8.92853 22.6167 10.4206 21.1468 11.8925L18.6671 14.3927C18.2471 14.8161 18.0172 15.6327 18.1471 16.2175L18.8571 19.3125C19.417 21.7623 18.1271 22.71 15.9774 21.4296L12.9877 19.6452C12.4478 19.3226 11.5579 19.3226 11.0079 19.6452L8.01827 21.4296C5.8785 22.71 4.57865 21.7522 5.13859 19.3125L5.84851 16.2175C5.97849 15.6327 5.74852 14.8161 5.32856 14.3927L2.84884 11.8925C1.389 10.4206 1.85895 8.92853 3.89872 8.58575L7.08837 8.05143C7.61831 7.9607 8.25824 7.48687 8.49821 6.99288L10.258 3.44418C11.2179 1.51861 12.7777 1.51861 13.7276 3.44418Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </label>
              </div>
              <div class="flex justify-center md:justify-start space-x-4">
                <input
                  type="radio"
                  id="3-stars"
                  name="rating"
                  value="3"
                  class="hidden"
                />
                <label
                  for="3-stars"
                  class="flex cursor-pointer hover:text-yellow-500 hover:scale-105 duration-200"
                >
                  <span th:each="i : ${#numbers.sequence(1, 3)}">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="30"
                      height="30"
                      fill="yellow"
                    >
                      <path
                        d="M13.7276 3.44418L15.4874 6.99288C15.7274 7.48687 16.3673 7.9607 16.9073 8.05143L20.0969 8.58575C22.1367 8.92853 22.6167 10.4206 21.1468 11.8925L18.6671 14.3927C18.2471 14.8161 18.0172 15.6327 18.1471 16.2175L18.8571 19.3125C19.417 21.7623 18.1271 22.71 15.9774 21.4296L12.9877 19.6452C12.4478 19.3226 11.5579 19.3226 11.0079 19.6452L8.01827 21.4296C5.8785 22.71 4.57865 21.7522 5.13859 19.3125L5.84851 16.2175C5.97849 15.6327 5.74852 14.8161 5.32856 14.3927L2.84884 11.8925C1.389 10.4206 1.85895 8.92853 3.89872 8.58575L7.08837 8.05143C7.61831 7.9607 8.25824 7.48687 8.49821 6.99288L10.258 3.44418C11.2179 1.51861 12.7777 1.51861 13.7276 3.44418Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </label>
              </div>
              <div class="flex justify-center md:justify-start space-x-4">
                <input
                  type="radio"
                  id="2-stars"
                  name="rating"
                  value="2"
                  class="hidden"
                />
                <label
                  for="2-stars"
                  class="flex cursor-pointer hover:text-yellow-500 hover:scale-105 duration-200"
                >
                  <span th:each="i : ${#numbers.sequence(1, 2)}">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="30"
                      height="30"
                      fill="yellow"
                    >
                      <path
                        d="M13.7276 3.44418L15.4874 6.99288C15.7274 7.48687 16.3673 7.9607 16.9073 8.05143L20.0969 8.58575C22.1367 8.92853 22.6167 10.4206 21.1468 11.8925L18.6671 14.3927C18.2471 14.8161 18.0172 15.6327 18.1471 16.2175L18.8571 19.3125C19.417 21.7623 18.1271 22.71 15.9774 21.4296L12.9877 19.6452C12.4478 19.3226 11.5579 19.3226 11.0079 19.6452L8.01827 21.4296C5.8785 22.71 4.57865 21.7522 5.13859 19.3125L5.84851 16.2175C5.97849 15.6327 5.74852 14.8161 5.32856 14.3927L2.84884 11.8925C1.389 10.4206 1.85895 8.92853 3.89872 8.58575L7.08837 8.05143C7.61831 7.9607 8.25824 7.48687 8.49821 6.99288L10.258 3.44418C11.2179 1.51861 12.7777 1.51861 13.7276 3.44418Z"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </label>
              </div>
              <div class="flex justify-center md:justify-start space-x-4">
                <input
                  type="radio"
                  id="1-star"
                  name="rating"
                  value="1"
                  class="hidden"
                />
                <label
                  for="1-star"
                  class="cursor-pointer hover:text-yellow-500 hover:scale-105 duration-200"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="30"
                    height="30"
                    fill="yellow"
                  >
                    <path
                      d="M13.7276 3.44418L15.4874 6.99288C15.7274 7.48687 16.3673 7.9607 16.9073 8.05143L20.0969 8.58575C22.1367 8.92853 22.6167 10.4206 21.1468 11.8925L18.6671 14.3927C18.2471 14.8161 18.0172 15.6327 18.1471 16.2175L18.8571 19.3125C19.417 21.7623 18.1271 22.71 15.9774 21.4296L12.9877 19.6452C12.4478 19.3226 11.5579 19.3226 11.0079 19.6452L8.01827 21.4296C5.8785 22.71 4.57865 21.7522 5.13859 19.3125L5.84851 16.2175C5.97849 15.6327 5.74852 14.8161 5.32856 14.3927L2.84884 11.8925C1.389 10.4206 1.85895 8.92853 3.89872 8.58575L7.08837 8.05143C7.61831 7.9607 8.25824 7.48687 8.49821 6.99288L10.258 3.44418C11.2179 1.51861 12.7777 1.51861 13.7276 3.44418Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </label>
              </div>
            </div>
            <button
              type="submit"
              class="px-4 py-2 mt-4 w-1/2 mx-auto bg-cyan-500 text-white rounded-md border-2 hover:border-cyan-500 hover:bg-white hover:text-cyan-500 duration-200"
            >
              Submit
            </button>
          </div>
          <div class="w-full md:w-2/3 p-10">
            <textarea
              name="description"
              id="description"
              placeholder="Your experience with our app..."
              cols="30"
              rows="10"
              class="w-full p-4 mt-4 border-2 border-gray-300 rounded-md"
            ></textarea>
          </div>
        </form>
        <!-- Success Pop Up -->
        <div th:if="${success}" class="fixed z-10 inset-0 overflow-y-auto">
          <div
            class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
          >
            <div
              class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
              aria-hidden="true"
            ></div>
            <!-- This element is to trick the browser into centering the modal contents. -->
            <span
              class="hidden sm:inline-block sm:align-middle sm:h-screen"
              aria-hidden="true"
              >&#8203;</span
            >
            <div
              class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
            >
              <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div
                    class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10"
                  >
                    <!-- Tick -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6 text-green-600"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                      />
                    </svg>
                  </div>
                  <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3
                      class="text-lg leading-6 font-medium text-gray-900"
                      id="modal-title"
                    >
                      Success
                    </h3>
                    <div class="mt-2">
                      <p class="text-sm text-gray-500" th:text="${success}"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
              >
                <button
                  type="button"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm"
                  onClick="document.querySelector('.fixed').classList.add('hidden')"
                >
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Section -->
    <footer class="bg-gradient-to-r mt-12 md:mt-24 from-cyan-100 to-blue-100">
      <div class="container">
        <div
          class="flex flex-col p-4 items-center justify-between md:flex-row md:mx-16"
        >
          <div class="flex justify-center items-center pb-4">
            <img src="/images/todo-icon.png" alt="" class="w-24 h-24" />
            <h1 class="text-2xl font-bold pl-4 text-gray-700">ToDoApp</h1>
          </div>
          <div
            class="flex flex-col items-center justify-between flex-1 mb-10 space-y-6 md:flex-row md:space-y-0 md:mb-0 text-grayishBlue"
          >
            <div
              class="flex flex-col space-y-4 md:flex-row md:ml-24 md:space-x-24 md:space-y-0"
            >
              <div class="flex flex-col space-y-4 text-center md:text-left">
                <div>
                  <a href="#dashboard" class="hover:text-cyan-500">Top</a>
                </div>
                <div>
                  <a href="#rating" class="hover:text-cyan-500">Rate Us</a>
                </div>
              </div>
              <div class="flex flex-col space-y-4 text-center md:text-left">
                <div>
                  <a href="#tasks" class="hover:text-cyan-500">Tasks</a>
                </div>
                <div>
                  <a href="#account" class="hover:text-cyan-500"
                    >Manage Account</a
                  >
                </div>
              </div>
              <div class="flex flex-col space-y-4 text-center md:text-left">
                <div></div>
              </div>
            </div>
            <div>
              <a
                href="/logout"
                class="px-6 py-4 bg-cyan-500 text-white rounded-full border-2 hover:border-cyan-500 hover:bg-white hover:text-cyan-500 duration-200"
                >Logout</a
              >
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
